<div class="btn-grp">
  <a href="/">Home</a><br>
  <a href="/trails">All Trails</a><br>
  <p><a href="/logout">Log Out</a></p>
</div>

<h3>Welcome, <%= "#{@user.username.capitalize}" %>!</h3>

<% if @user == current_user %>
<center><h2>YOUR TRAILS: <%= @user.trails.size %></h2>
<br></br>

<% else %>
<h3>Logged trails: <%= @user.trails.size %></h3>
<% end %>

<% @user.trails.each do |trail| %>
  <a href="/trails/<%= trail.id %>"><h3><%= trail.name %></h3></a>
<%end%>
<br></br>
<br></br>

<% if @user == current_user %>
  <h5><a href="/trails/new">- Click here to log more trails -</a><h5></center>
<% end %>
</center>

<!---<h3>Needing inspiration to decide on your next exploration? Check out this video!</h3>
<center>
  <iframe>
</center>-->
