  <div class="btn-group">
    <p><a href="/users/<%= @user.slug %>">Profile</a><br>
      <a href="/trails/new">Add Trails</a><br>
      <a href="/logout">Log Out</a>
    </p>
    <br></br>
 </div>


<center><h2>Trail Log</h2>

  <% Trail.all.each do |trail| %>
  <a href="/trails/<%= trail.id %>"><p><%= trail.name %> - <%= trail.location %></a><br>Posted by:<%= trail.user%></a></br></p>
  <% end %>
<br></br>

</center>
